


<div class="container">
  
</div>
<section class="hero">
  <div class="hero-body ">
    <p class="title has-text-centered">
     Bulma / ng-select Example
    </p>
    <p class="subtitle has-text-centered">
      This example uses Bulma ui-design-system  and ng-select
    </p>
  </div>
</section>
<div class="container">
  <div class="box is-flex-direction-row is-justify-content-center">
      <!--Using ng-option and for loop-->
      <ng-select [(ngModel)]="selectedCar">
        <ng-option *ngFor="let car of cars" [value]="car.id">{{car.name}}</ng-option>
      </ng-select>
  </div>
</div>

